/*
  Possible Animations:
  enter
  leave
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
    transition all 0.5s
    transform translateX(-120%) rotate(1000deg)
    min-height 60px
    padding 0 !important
    &.order-enter-active
        background green
        max-height 60px
        paddingg 2rem 0 !important
        transform translateX(0) rotate(0deg);

.order-leave
    transition all 0.5s
    transform translateX(0)
    &.order-leave-active
        background red
        transform translateX(120%) rotate(-1000deg)
        max-height 0
        padding 0

.count-enter
    transition all 0.25s
    transform translateY(100%) // Empieza fuera de la pantalla
    &.count-enter-active
        transform translateY(0) // Vuelve al estado normal

.count-leave
    transition all 0.25s
    position absolute
    left 0
    bottom 0
    transform translateY(0) // Empezar donde estábamos
    &.count-leave-active
        transform translateY(-100%)
